# Unlike other files in this repo, this is designed to be consumed by
# `source ngc_secrets.env` rather than Docker's `--env-file` argument. Because of this, it
# is necessary to wrap the values in double-quotes in this file.

NGC_CLI_API_KEY="[YOUR API KEY]"
NGC_CLI_ORG="[YOUR ORG DESCRIPTION]"
NGC_CLI_TEAM=""
